body{
    max-width: 1140px;
    margin: 0 auto;
}
/****** style navbar *****/
nav li a{
    text-decoration: none;
    margin-right: 15px;
    /* font-size: 1.5em; */
    color: #8987A1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav li{
    list-style: none;
    /* font-size: 1.5em; */
}
.home-bold{
    font-weight: bold;
    color: #252432;
}
.price-tag{
    font-size: 2rem;
}
.section-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}
.navbar{
    display: flex;
    align-items: center;
    /* gap: 20px; */
    font-size: 1.5rem;
}
/* banner section */
.banner-container{
    display: flex;
    margin-top: 8%;
}
.banner-head{
    margin-top: 10%;
}
.banner-title{
    font-size: 3.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.title-color{
    color: #E95A08;
}
.banner-describtion{
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
}
/* card container style */
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card-title-describtion{
    text-align: center;
    margin-top: 3%;
}
.card-title{
    margin: 0;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}
.card-describtion{
    color: rgba(0, 0, 0, 0.5);
}
.card{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
.card-head-lily{
    margin: 0;
}
.card-pricing{
    margin: 0;
    color: #111111;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-button{
    padding: 3% 32%;
    background-color: #E95A08;
    font-size: 1rem;
    color: aliceblue;
    font-weight: 500;
    border: none;
    font-family: sans-serif;
}
button:hover{
    background-color: blue;
}












/* responsive followers */

@media screen and (max-width: 576px) {
    .navbar li{
        display: none;
    }
        .banner-container{
            flex-direction: column-reverse;
            padding: 5%;
        }
            .card-container{
                grid-template-columns: repeat(2, 1fr);
            }
                .card-title-describtion{
                    padding: 5%;
                }
      
    
}